<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css" />
    <title>Pokedex Searcher</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <section class="section is-info is-rounded">
      <div class="container" id="vue-app">
        <h1 class="title">Pokedex Searcher</h1>

        <div class="columns">
          <div class="column">
            <list-picker
              v-bind:elements="database.abilities"
              v-bind:none="'(No ability)'"
              v-bind:label="'Required ability'"
              v-on:picked="filters.ability = $event, newAbilitySelection()"
            ></list-picker>
          </div>

          <div class="column">
            poney
          </div>
          <div class="column">
            poney
          </div>
          <div class="column">
            poney
          </div>
          <div class="column">
            poney
          </div>
        </div>



        <br />

        <label class="checkbox">
          <input type="checkbox" v-model="filters.hideNFE" v-on:change="update()" /> Hide NFE Pokemons
        </label>

        <table class="table is-striped is-hoverable is-bordered">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>HP</th>
            <th>Att</th>
            <th>Def</th>
            <th>SpA</th>
            <th>SpD</th>
            <th>Spe</th>
            <th>Ability</th>
            <th>Moves</th>
          </tr>
          <tr v-for="pokemon in pokemons">
            <td>{{ pokemon.name }}</td>
            <td v-html="pokemon.types.join('<br />')"></td>
            <td>{{ pokemon.hp  }}</td>
            <td>{{ pokemon.att }}</td>
            <td>{{ pokemon.def }}</td>
            <td>{{ pokemon.spa }}</td>
            <td>{{ pokemon.spd }}</td>
            <td>{{ pokemon.spe }}</td>
            <td v-html="pokemon.abilities.join('<br />')"></td>
            <td v-html="pokemon.moves.length + ' move' + ( pokemon.moves.length == 1 ? '' : 's')"></td>
          </tr>
        </table>
      </div>
    <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
    
    <script src="main.js"></script>
  </body>
</html>